NEXT_PUBLIC_SITE_NAME="SOHAM SALES"
ADMIN_PASSWORD="admin123"
NEXT_PUBLIC_FLAT_SHIPPING_FEE="99"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

NEXT_PUBLIC_RAZORPAY_KEY_ID=""
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
